name: Flask CI-CD

on:
  push:
    branches: [ main ]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:

    # 1️⃣ Checkout Repository
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2️⃣ Setup Python
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # 3️⃣ Install Dependencies
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4️⃣ Run Tests
    - name: Run Tests
      run: pytest tests/

    # 5️⃣ Build Docker Image
    - name: Build Docker Image
      run: docker build -t vihapaul/ai-app .

    # 6️⃣ Login to Docker Hub
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 7️⃣ Push Docker Image
    - name: Push Docker Image
      run: docker push vihapaul/ai-app
